@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_05/bg_conquis.jpg) no-repeat center bottom;
}

#tituloCuento {
	background-image:url(../img/cuento_05/title_cuento.png);
	top:42px;
	height:104px;
}

#titleZoom05 {
	background-image:url(../img/cuento_05/title_cuento.png);
}

.pagination-car {
	/*background:#666;*/
	width:110px;
	margin:0px 0px 0px -55px;
}

#mesa {
	background-image:url(../img/cuento_05/mesa.png);
	
	top:245px;
	left:0px;
	
	width:440px;
	height:357px;
	
	z-index:-1;
}
#barco {
	background-image:url(../img/cuento_05/barco1.png);
	
	top:-194px;
	left:970px;
	
	width:335px;
	height:796px;
}
#conqueror {
	background-image:url(../img/cuento_05/conqueror.png);
	
	top:70px;
	left:1995px;
	
	width:253px;
	height:515px;
}
#cangrejito {
	background-image:url(../img/cuento_05/cangrejito.png);
	
	top:490px;
	left:2180px;
	
	width:117px;
	height:104px;
}
#gaviota {
	background-image:url(../img/cuento_05/gaviota.png);
	
	top:90px;
	left:2910px;
	
	width:333px;
	height:316px;
}
#aborigen {
	background-image:url(../img/cuento_05/aborigen.png);
	
	top:135px;
	left:3960px;
	
	width:258px;
	height:454px;
}
#zorritos {
	background-image:url(../img/cuento_05/zorritos.png);
	
	top:400px;
	left:4800px;
	
	width:416px;
	height:171px;
}


