@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_04/bg_mariposa.jpg) no-repeat center bottom;
}

#tituloCuento {
	background-image:url(../img/cuento_04/title_cuento.png);
	top:42px;
	height:104px;
}

#titleZoom04 {
	background-image:url(../img/cuento_04/title_cuento.png);
}

.pagination-car {
	/*background:#666;*/
	width:150px;
	margin:0px 0px 0px -75px;
}

.instruSlide {
	background:url(../img/instru_slide_morado.png) no-repeat top left !important;
}

#mama {
	background-image:url(../img/cuento_04/mama.png);
	
	top:140px;
	left:0px;
	
	width:328px;
	height:460px;
}
#nico {
	background-image:url(../img/cuento_04/nico.png);
	
	top:140px;
	left:1050px;
	
	width:243px;
	height:375px;
}
#caroGde {
	background-image:url(../img/cuento_04/caroGrande.png);
	
	top:125px;
	left:1930px;
	
	width:340px;
	height:472px;
}
#mariposa2 {
	background-image:url(../img/cuento_04/mariposa2.png);
	
	top:140px;
	left:2940px;
	
	width:337px;
	height:336px;
}
#mariposa3 {
	background-image:url(../img/cuento_04/mariposa3.png);
	
	top:100px;
	left:3970px;
	
	width:226px;
	height:210px;
}
#pleito {
	background-image:url(../img/cuento_04/pleito.png);
	
	top:200px;
	left:4880px;
	
	width:165px;
	height:479px;
}
#publico {
	background-image:url(../img/cuento_04/publico.png);
	
	top:70px;
	left:4878px;
	
	width:172px;
	height:186px;
}
#vuela1 {
	background-image:url(../img/cuento_04/vuela1.png);
	
	top:134px;
	left:5780px;
	
	width:363px;
	height:464px;
}
#vuela2 {
	background-image:url(../img/cuento_04/vuela2.png);
	
	top:80px;
	left:5780px;
	
	width:117px;
	height:180px;
} 
#mariposa4 {
	background-image:url(../img/cuento_04/mariposa4.png);
	
	top:160px;
	left:6760px;
	
	width:226px;
	height:202px;
}
#mariposa5 {
	background-image:url(../img/cuento_04/mariposa5.png);
	
	top:90px;
	left:6840px;
	
	width:104px;
	height:92px;
}
#mariposa6 {
	background-image:url(../img/cuento_04/mariposa6.png);
	
	top:300px;
	left:6970px;
	
	width:171px;
	height:188px;
}

