@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_02/bg_jairo.jpg) no-repeat center bottom;
}

#tituloCuento {
	background-image:url(../img/cuento_02/title_cuento.png);
	top:42px;
}

#titleZoom02 {
	background-image:url(../img/cuento_02/title_cuento.png);
}

.pagination-car {
	/*background:#666;*/
	width:90px;
	margin:0px 0px 0px -45px;
}

#jairo1 {
	background-image:url(../img/cuento_02/jairo1_s01.png);
	
	top:75px;
	left:60px;
	
	width:273px;
	height:256px;
}

#tortu1 {
	background-image:url(../img/cuento_02/tortu1.png);
	
	top:280px;
	left:960px;
	
	width:354px;
	height:329px;
}
#huevos {
	background-image:url(../img/cuento_02/huevos.png);
	
	top:425px;
	left:1930px;
	
	width:490px;
	height:242px;
	
	z-index:-1;
}
#zorro {
	background-image:url(../img/cuento_02/zorro.png);
	
	top:40px;
	left:2900px;
	
	width:392px;
	height:548px;
}
#jairoTortu {
	background-image:url(../img/cuento_02/jairo-tortu.png);
	
	top:155px;
	left:3850px;
	
	width:363px;
	height:468px;
}

