@charset "UTF-8";
/* CSS Document */

.pagination-car {
	width:130px;
	margin:0px 0px 0px -65px;
}

#tituloCuento {
	/*background-color:#CCC;*/
	background-position:left 0px;
	background-repeat:no-repeat;
	
	width:340px;
	height:100px;
	
	top:76px;
	left:394px;
	z-index:20;
}

.btnsTop {
	/*background:#666;*/
	top:10px;/*30px para iPhone*/
	left:10px;
	z-index:21;
}
.btnsTop a {
	width:59px;
	height:59px;
	margin:0px 12px 0px 0px;
}

#btTopMorHome {
	background-image:url(../img/ico_mor_home.png);
}
#btTopMorAutor {
	background-image:url(../img/ico_mor_autor.png);
}
#btTopMorAudio {
	background-image:url(../img/ico_mor_audio.png);
}
#btTopMorZoom {
	background-image:url(../img/ico_mor_zoom.png);
	width:72px;
	height:77px;
	margin-right:0px !important;
}

.titleZoom {
	/*background-color:#999;*/
	background-position:center;
	background-repeat:no-repeat;
	height:100px;
	margin:0px;
}

.icoGrande {
	background-color:#6F2975;
	
	width:94px;
	height:94px;
	margin:-77px 0px 0px 0px;
}
.icoGrande:hover {
	background-color:#555;
}

#icoClose {
	background-image:url(../img/ico_close_gde.png);
	background-repeat:no-repeat;
	background-position:center;
	float:right;
	margin-right:-77px;
}

#zoomOutBtn {
	/*background-color:#999;*/
	
	background-image:url(../img/ico_mor_zoomOut.png);
	background-repeat:no-repeat;
	background-position:center;
	
	width:72px;
	height:76px;
	
	top:20px;
	right:20px;
}

