@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_01/bg_jardin.jpg) no-repeat center bottom 0px;
}

#tituloCuento {
	background-image:url(../img/cuento_01/title_cuento.png);
	height:67px;
}

#titleZoom01 {
	background-image:url(../img/cuento_01/title_cuento.png);
}

#arana {
	background-image:url(../img/cuento_01/ara_s01.png);
	
	top:200px;
	left:0px;
	
	width:321px;
	height:450px;
}
#capullo {
	background-image:url(../img/cuento_01/capullo.png);
	
	top:80px;
	left:1030px;
	
	width:302px;
	height:404px;
}
#marikita1 {
	background-image:url(../img/cuento_01/marikita1_s01.png);
	
	top:120px;
	left:2060px;
	
	width:240px;
	height:369px;
}
#notas1 {
	background-image:url(../img/cuento_01/notas1_s01.png);
	
	top:70px;
	left:1980px;
	
	width:191px;
	height:218px;
}
#caracol {
	background-image:url(../img/cuento_01/caracol.png);
	
	top:185px;
	left:2990px;
	
	width:273px;
	height:421px;
}
#cejas {
	background-image:url(../img/cuento_01/cejas.png);
	
	top:174px;
	left:3042px;
	
	width:99px;
	height:75px;
}
#sombrero {
	background-image:url(../img/cuento_01/sombrero.png);
	
	top:90px;
	left:2990px;
	
	width:146px;
	height:142px;
}
#marikita2 {
	background-image:url(../img/cuento_01/marikita2.png);
	
	top:120px;
	left:3940px;
	
	width:271px;
	height:331px;
}
#mariposa1 {
	background-image:url(../img/cuento_01/mariposa1.png);
	
	top:100px;
	left:4840px;
	
	width:331px;
	height:267px;
}
#flor1 {
	background-image:url(../img/cuento_01/flor1.png);
	
	top:110px;
	left:5800px;
	
	width:349px;
	height:580px;
}

